<div class="panel panel-info infuse">
  <div class="panel-heading">
    <div class="panel-title">Quick Links</div>
  </div>
  <div class="container" style="height:550px;overflow-y: scroll;overflow-x:hidden;padding: 0px; margin:0px">
    <div class='row' style="border-bottom: solid 1px;padding-left: 50px;">
      <a href='/classified/products'>
        <div class="col-md-3 column common">
          <img src="/images/product_logo.png" class="img-responsive">
          <div class="quicklinktitle">All Products</div>
        </div>
      </a>
      <a href='/classified/users'>
        <div class="col-md-3 column common">
          <img src="/images/user.png" class="img-responsive">
          <div class="quicklinktitle">All Users</div>
        </div>
      </a>
      <a href='/classified/orders'>
        <div class="col-md-3 column common">
          <img src="/images/order_logo.png" class="img-responsive">
          <div class="quicklinktitle">All Orders</div>
        </div>
      </a>
      <a href='/classified/categories'>
        <div class="col-md-3 column common">
          <img src="/images/category.png" class="img-responsive">
          <div class="quicklinktitle">All Categories</div>
        </div>
      </a>
    
    </div>
    <div class='row'  style="padding-left: 50px;">
      <a href='/classified/addProduct'>
        <div class="col-md-3 column common">
          <img src="/images/addProduct.png" class="img-responsive">
          <div class="quicklinktitle">Add New Product</div>
        </div>
      </a>

      <a href='/classified/categories'>
        <div class="col-md-3 column common">
          <img src="/images/category.png" class="img-responsive">
          <div class="quicklinktitle">Add New Category</div>
        </div>
      </a>
      <a href='/classified/contact'>
        <div class="col-md-3 column common">
          <img src="/images/contact.png" class="img-responsive">
          <div class="quicklinktitle">Contact Info</div>
        </div>
      </a>
    </div>
  </div>
</div>